<html lang="en">

{% load static %}
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'repo/bootstrap.min.css' %}">

    <!-- JS, Popper.js, and jQuery -->
    <script src="{% static 'repo/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'repo/popper.min.js' %}"></script>
    <script src="{% static 'repo/bootstrap.min.js' %}"></script>

    </head>
<body>
    {% block content %}
    {% endblock %}
</body>

</html>