Django==5.2.15
djangorestframework==3.17.1
django-filter==25.2
django-widget-tweaks==1.5.1
gevent==26.5.0
gunicorn==26.0.0
Markdown==3.10.2
psycopg2==2.9.12
python-apt @ git+https://salsa.debian.org/apt-team/python-apt.git@2.8.0
python-dateutil==2.9.0.post0
python-gnupg==0.5.6
requests==2.34.2
rpmfile==2.1.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
